@charset "UTF-8";

*{margin: 0; padding: 0;}
ul{list-style: none;}
a{color: black; text-decoration: none;}
img{vertical-align: top; border: none;}

body{
    background-color: #E5E0D8;
    font-family: 'Pretendard Variable', sans-serif;   
    color: #4B4A45;
}
#header{
    width: 18%;
    height: 100%;
    position: fixed;
}
#header .wrap_hd{
    width: 80%;
    height: 94%;
    position: absolute;
    top: 3%; left: 10%;
    background-color: #fff;
    border-radius: 20px;
}
#header .wrap_hd .wrap_logo{
    width: 80%;
    margin: 0 auto;
    height: 15%;
    text-align: center;
    padding-top: 38px;
    border-bottom: 1px solid rgb(212, 212, 212);
}
#header .wrap_hd .wrap_logo img{
    width: 108px;
    margin: 0 auto 10px;
}
#header .wrap_hd .wrap_logo span{
    color: rgb(66, 66, 66);
}
#header .wrap_hd .gnb{
    width: 100%;
    padding: 35px 0;
    box-sizing: border-box;
}
#header .wrap_hd .gnb a{
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    display: block;
    box-sizing: border-box;
    display: flex;
    color: #A4A4A4;
    font-weight: 600;
    /* border: 1px solid blue; */
}
#header .wrap_hd .gnb li.active a{
    background-color: #8B9773;
    color: white;
}
#header .wrap_hd .gnb li a .icon_area{
    width: 24px;
    height: 24px;
    display: block;
    margin-top: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 15px;
    /* border: 1px solid lime; */
}
#header .wrap_hd .gnb li:nth-child(1) a .icon_area{
    background-image: url(../images/icon_home.png);
}
#header .wrap_hd .gnb li:nth-child(2) a .icon_area{
    background-image: url(../images/icon_member.png);
}
#header .wrap_hd .gnb li:nth-child(3) a .icon_area{
    background-image: url(../images/icon_deliver.png);
}
#header .wrap_hd .gnb li:nth-child(4) a .icon_area{
    background-image: url(../images/icon_sales.png);
}
#header .wrap_hd .gnb li:nth-child(5) a .icon_area{
    background-image: url(../images/icon_order.png);
}

/* 클릭시 아이콘 변경 */
#header .wrap_hd .gnb li:nth-child(1).active a .icon_area{
    background-image: url(../images/icon_home_c.png);
}
#header .wrap_hd .gnb li:nth-child(2).active a .icon_area{
    background-image: url(../images/icon_member_c.png);
}
#header .wrap_hd .gnb li:nth-child(3).active a .icon_area{
    background-image: url(../images/icon_deliver_c.png);
}
#header .wrap_hd .gnb li:nth-child(4).active a .icon_area{
    background-image: url(../images/icon_sales_c.png);
}
#header .wrap_hd .gnb li:nth-child(5).active a .icon_area{
    background-image: url(../images/icon_order_c.png);
}





#section{
    width: 82%;
    height: 100%;
    position: absolute;
    top: 0; left: 18%;
}

#section > .tab{
    display: none;
}
/* overview / admin info 영역------------------------------------------- */

#section #home{
}
#section .home_top{
    width: 98%;
    height: 18%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 3%; left: 0%;
}
#section .home_top .overview{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 22px 0 22px 20px;
    box-sizing: border-box;
    border-radius: 20px;
}
#section .home_top .overview>li{
    width: 20%;
    padding-left: 20px;
}
#section .home_top .overview>li+li{
    border-left: 1px solid #EBEBEB;

}
#section .home_top .overview>li h3{
    font-size: 16px;
    color: #9C9C9C;
    font-weight: 600;
    margin: 5px 0;
}
#section .home_top .overview>li p{
    font-size: 34px;
    font-weight: 700;
    color: #4B4A45;
}
#section .home_top .overview>li p > span{
    font-size: 16px;
    margin-left: 4px;
}
#section .home_top .overview>li:nth-child(3) p,
#section .home_top .overview>li:nth-child(4) p{
    color: #8B9773;
}


/* admin info--------------------------------------------------------- */
#section .home_top .admin{
    width: 18%;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    padding: 10px 0;
    line-height: 1.5;
}
#section .home_top .admin .ad_info{
    font-size: 16px;
    color: #4B4A45;
}
#section .home_top .admin .ad_info p{
    font-size: 14px;
}
#section .home_top .admin .setting{
    width: 60%;
    margin: 15px auto 0;
    display: flex;
    justify-content: space-evenly;
}
#section .home_top .admin .setting li{
    cursor: pointer;
    color: #4B4A45;
    font-size: 14px;
    transition: all 0.2s;
}

/* 매출 요약 부분----------------------------------------- */
#section #home .sale_chart{
    width: 98%;
    position: absolute;
    top: 24%; left: 0;
}
/* 타이틀 글씨색 스타일 전체 적용 */
#section .tab h2{
    font-size: 20px;
    color: #4B4A45;
    font-weight: 600;
    margin-left: 16px;
}
#section #home .sale_chart .h_chart_area{
    width: 100%;
    height: 300px;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

/* 인기상품 오늘의 주문 배송현황 부분-------------------------------------------- */
#section #home .home_bt{
    width: 98%;
    height: 32.5%;
    position: absolute;
    top: 64%; left: 0;
    display: flex;
    justify-content: space-between;
}
#section #home .home_bt>li{
    width: 32%;
}
#section #home .home_bt .cont_area{
    width: 100%;
    height: 87%;
    margin-top: 15px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}


/* 인기상품-------------------------------------------------- */
#section #home .home_bt .best_item .cont_area table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
#section #home .home_bt .best_item .cont_area table tr td{
    padding: 0 30px;
    cursor: pointer;
}
#section #home .home_bt .best_item .cont_area table  tr:nth-child(even) td{
    background-color: #F5F5ED;
}


#section #home .home_bt .best_item .cont_area table tr td span:hover,
#section #home .home_bt .today_order .cont_area table td span:hover,
#section #home .home_bt .ship .cont_area table td span:hover{
    text-decoration: underline;
}



/* 오늘의 주문------------------------------------------------ */
#section #home .home_bt .today_order .cont_area table{
    width: 100%;
    height: 48%;
    text-align: center;
}
#section #home .home_bt .today_order .cont_area table:first-child{
    margin-bottom: 10px;
}
#section #home .home_bt .today_order .cont_area table th{
    background-color: #CFCFCF;
    color: white;
    width: 50%;
}
#section #home .home_bt .today_order .cont_area table td{
    background-color: #FBFBFB;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}



/* 배송현황------------------------------------------------ */
#section #home .home_bt .ship .cont_area table{
    width: 100%;
    height: 48%;
    text-align: center;
}
#section #home .home_bt .ship .cont_area table:first-child{
    margin-bottom: 10px;
}
#section #home .home_bt .ship .cont_area table th{
    background-color: #CFCFCF;
    color: white;
    width: 50%;
}
#section #home .home_bt .ship .cont_area table td{
    background-color: #FBFBFB;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}




/* 회원관리--------------------------------------------------------------- */

#section #member{
    width: 98%;
    height: 94%;
    position: absolute;
    top: 3%;
    background-color: #fff;
    border-radius: 20px;
    padding: 25px 35px;
    box-sizing: border-box;
}
#section #member .search table{
    width: 98%;
    margin: 0 auto;
    margin-top: 18px;
    border-collapse: collapse;
}
#section #member .search table td select{
    width: 6%;
}
#section #member .search table tr:first-child td{
    border-top: 1px solid #D2D2D2;
}
#section #member .search table tr:nth-child(2) td input{
    width: 8%;
}
#section #member .search table tr:nth-child(2) td button{
    width: 4%;
}
#section #member .search table td{
    border-bottom: 1px solid #D2D2D2;
    padding: 0 20px;
    height: 45px;
}
#section #member .search table td:first-child{
    background-color: #F8F8F8;
    width: 10%;
    color: #4B4A45;
    font-weight: 500;
}

#section #member .search .btn{
    margin-top: 30px;
    text-align: center;
}
#section #member .search .btn button{
    border: none;
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
#section #member .search .btn .btn1{
    background-color: #8B9773;
}
#section #member .search .btn .btn2{
    background-color: #888888;
}


/* 회원리스트 */
#section #member .wrap_list{
    margin-top: 50px;
}
#section #member .wrap_list .btn_count{
    display: flex;
    justify-content: space-between;
}
#section #member .wrap_list .btn_count > li > button{
    width: 80px;
    height: 30px;
    background-color: #F1F1F1;
    font-size: 14px;
    color: #4B4A45;
    border: none;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
}
#section #member .wrap_list .btn_count > li > p{
    line-height: 30px;
}
#section #member .wrap_list .btn_count > li > p span{
    color: #51753D;
    font-weight: 600;
}

#section #member .wrap_list .mem_list{
    width: 100%;
    border: 1px solid #D2D2D2;
    border-radius: 20px;
    margin-top: 10px;
    text-align: center;
}









/* 매출관리---------------------------------------------------------------- */
#section #sales{
    width: 98%;
    height: 94%;
    position: absolute;
    top: 3%;
}
#section #sales .sales_info{
    display: flex;
    justify-content: space-between;
    height: 19%;
}
#section #sales .sales_info>li{
    width: 24%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    padding: 25px 45px;
    box-sizing: border-box;
}
#section #sales .sales_info>li span{
    font-size: 1.3em;
}
#section #sales .sales_info>li h3{
    font-size: 16px;
    color: #9C9C9C;
    font-weight: 600;
    margin: 5px 0;
}
#section #sales .sales_info>li p{
    font-size: 34px;
    font-weight: 700;
    color: #8B9773;
    cursor: pointer;
}
#section #sales .sales_info>li p span{
    font-size: 16px;
    color: #4B4A45;
    margin-left: 4px;
}


/* 기간별 매출 영역 ----------------------------------- */
#section #sales .sale_chart{
    width: 100%;
    height: 40.5%;
}
#section #sales .sale_chart .sale_title{
    display: flex;
    margin-top: 28px;
}
#section #sales .sale_chart .sale_title h2{
    line-height: 40px;
    margin-right: 10px;
}
#section #sales .sale_chart .sale_title button{
    background-color: #fff;
    color: #4B4A45;
    border: none;
    width: 100px;
    height: 40px;
    margin-left:12px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
#section #sales .sale_chart .sale_title button.on,
#section #sales .sale_chart .sale_title button:hover{
    background-color: #8B9773;
    color: #fff;
}
#section #sales .sale_chart .chart_area{
    width: 100%;
    height: 75%;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px 20px;
    box-sizing: border-box;
}
#section #sales .sale_chart .chart_area .charts{
    display: none;
}



/* 카테고리별 매출비중--------- */
#section #sales .category_chart{
    width: 100%;
    height: 37%;
    box-sizing: border-box;
}
#section #sales .category_chart .c_chart_area{
    width: 100%;
    height: 87%;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 20px;
    padding: 35px 20px;
    box-sizing: border-box;
} 



