<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <p th:text="${inOneMonthSubscribeMember}">신규 가입자 수 (한달 이내에 구독을 새로 한사람)</p>
    <p th:text="${allSubscribeMember}">총 가입자 수(현재 구독 중인 사람 수)</p>

    <div class="container">
        <div>
            <p>월별 매출 그래프(사진만이어도 ok)</p>
        </div>
        <div>
            <p>인기 상품</p>
        </div>
        <div>
            <p>오늘의 주문</p>
        </div>
        <div>
            <p>배송 현황</p>
        </div>

    </div>
</body>
</html>