<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>온실 플라워 스튜디오 - 관리자</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css" />
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    

</head>
<body>
<header class="header" th:replace="~{fragments/adminHeader}"></header>

    <div id="section">

        <div id="stock" class="tab">
<!--            <div class="stock_btn">-->
<!--                <button onclick="changeTab('desc_stock',this)">재고현황</button>-->
<!--                <button onclick="changeTab('desc_in',this)">입고현황</button>-->
<!--                <button onclick="changeTab('desc_out',this)">출고현황</button>-->
<!--            </div>-->
            <div class="stock_btn">
                <a href="../admin/stocklist">재고현황</a>
                <a href="../admin/inputlist" class="btn_on">입고현황</a>
                <a href="../admin/outputlist">출고현황</a>
            </div>
            <ul class="stock_cont">
                <li class="desc_stock st_tab">
                    <div class="search">
                        <h2>입고관리</h2>
                        <form id="searchForm" th:action="@{/admin/inputlist}" method="get">
                            <table>
                                <tr>
                                    <td>검색어</td>
                                    <td colspan="3">
                                        <select name="category">
                                            <option value="flowerName" th:selected="${category == 'flowerName'}">품목명</option>
                                            <option value="productId" th:selected="${category == 'productId'}">품목코드</option>
                                        </select>
                                        <input type="text" name="keyword" th:value="${keyword}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>기간검색</td>
                                    <td>
                                        <select name="day">
                                            <option value="입고일">입고일</option>
                                            <option value="등록일">등록일</option>
                                        </select>
                                        <input type="datetime-local" name="startDate"
                                               th:value="${startDate != null ? #temporals.format(startDate, 'yyyy-MM-dd''T''HH:mm') : ''}">
                                        <input type="datetime-local" name="endDate"
                                               th:value="${endDate != null ? #temporals.format(endDate, 'yyyy-MM-dd''T''HH:mm') : ''}">
                                        <button>오늘</button>
                                        <button>일주일</button>
                                        <button>1개월</button>
                                    </td>
                                </tr>
                            </table>
                            <div class="btn">
                                <button class="btn1" type="submit">검색</button>
                                <button class="btn2" type="button" onclick="resetForm()">초기화</button>
                            </div>
                        </form>
                    </div>
                    <div class="wrap_list">
                        <table class="stock_list">
                            <thead>
                            <tr>
                                <th>입고일자</th>
                                <th>입고번호</th>
                                <th>품목코드</th>
                                <th>품목명</th>
                                <th>입고수량</th>
                                <th>공급처</th>
                                <th>담당자</th>
                            </tr>
                            </thead>
                            <tbody id="stock-body">
                            <tr th:each="input : ${inputList}">
                                <td th:text="${#temporals.format(input.regDate, 'yyyy-MM-dd')}"></td>
                                <td th:text="${input.inputId}"></td>
                                <td th:text="${input.productId}"></td>
                                <td th:text="${input.flowerName}"></td>
                                <td th:text="${input.amount}"></td>
                                <td th:text="${input.supplier}"></td>
                                <td th:text="${input.manager}"></td>
                            </tbody>
                        </table>
                        <div id="stock-pagination" class="pagination" th:if="${totalCount > 0}">
                            <button th:classappend="${page == 1} ? 'disabled' : ''">
                                <a th:if="${page != 1}"
                                   th:href="@{/admin/inputlist(
                                page=${page - 1},
                                pageSize=${pageSize},
                                category=${category},
                                keyword=${keyword},
                                startDate=${startDate},
                                endDate=${endDate}
                            )}">◀</a>
                                <a th:if="${page == 1}">◀</a>
                            </button>
                            <button th:each="i : ${#numbers.sequence(1, (totalCount + pageSize - 1) / pageSize)}"
                                    th:classappend="${i == page} ? 'active' : ''">
                                <a th:href="@{/admin/inputlist(
                                page=${i},
                                pageSize=${pageSize},
                                category=${category},
                                keyword=${keyword},
                                startDate=${startDate},
                                endDate=${endDate}
                            )}" th:text="${i}"></a>
                            </button>
                            <button th:classappend="${page == (totalCount + pageSize - 1) / pageSize ? 'disabled' : ''}">
                                <a th:if="${page != (totalCount + pageSize - 1) / pageSize}"
                                   th:href="@{/admin/inputlist(
                                page=${page + 1},
                                pageSize=${pageSize},
                                category=${category},
                                keyword=${keyword},
                                startDate=${startDate},
                                endDate=${endDate}
                            )}">▶</a>
                                <a th:if="${page == (totalCount + pageSize - 1) / pageSize}">▶</a>
                            </button>
                        </div>

                    </div>
                </li>

            </ul>
<!--            <ul>-->
<!--                <li><a href="../admin/inputlist?page=1&pageSize=10">1</a></li>-->
<!--                <li><a href="../admin/inputlist?page=11&pageSize=20">2</a></li>-->
<!--                <li><a href="../admin/inputlist?page=21&pageSize=30">3</a></li>-->
<!--                <li><a href="../admin/inputlist?page=31&pageSize=40">4</a></li>-->
<!--                <li><a href="../admin/inputlist?page=41&pageSize=50">5</a></li>-->
<!--                <li><a href="../admin/inputlist?page=51&pageSize=60">6</a></li>-->
<!--            </ul>-->
        </div>

    </div>


<script src="js/admin.js"></script>
    <script>
        function resetForm() {
            document.getElementById('searchForm').reset(); // 입력란 초기화
            location.href = '/admin/inputlist'; // 검색조건 없이 전체 리스트로 이동
        }

        //입,출,재고 버튼 클릭시 클래스명 부여
        document.querySelectorAll('.stock_btn > a').forEach(link => {
            link.addEventListener('click', function(e) {
                // 모든 a 태그에서 btn_on 클래스 제거
                document.querySelectorAll('.stock_btn > a').forEach(a => {
                    a.classList.remove('btn_on');
                });
                // 현재 클릭한 a 태그에 btn_on 클래스 추가
                this.classList.add('btn_on');
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            const currentPath = window.location.pathname;
            document.querySelectorAll('.stock_btn > a').forEach(a => {
                if (a.getAttribute('href') === currentPath) {
                    a.classList.add('btn_on');
                }
            });
        });
    </script>
</body>
</html>