<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>

<h1>MEMBER LIST</h1>
<div class="container">
    <table border="1">
        <tr>
            <td th:text="${memberDetail.userID}" th:name="userID">userID</td>
            <td th:text="${memberDetail.nickName}">nickName</td>
            <td th:text="${memberDetail.userName}">userName</td>
            <td th:text="${memberDetail.userEmail}">userEmail</td>
            <td th:text="${memberDetail.zipcode}">zipcode</td>
            <td th:text="${memberDetail.address01}">address01</td>
            <td th:text="${memberDetail.address02}">address02</td>
            <td th:text="${memberDetail.tel}">tel</td>
            <td>
                <a href="" th:href="@{/admin/order-list/{id}(id=${memberDetail.id})}"><button>주문 내역</button></a>
            </td>
            <td>
                <a href="" th:href="@{/admin/member-modify/{userID}(userID=${memberDetail.userID})}"><button>정보 수정</button></a>
            </td>
            <td>
                <button th:attr="data-user-id=${memberDetail.userID}" class="btn-delete">탈퇴</button>
            </td>
        </tr>
    </table>
</div>
<script>

    document.querySelectorAll(".btn-delete")
        .forEach(btn => {
            btn.addEventListener("click", () => {

                const userID = btn.dataset.userId;
                fetch(`/admin/member/delete/${userID}`, {
                    method: "delete"
                })
                    .then(res => res.json())
                    .then(json => {
                        console.log(json);
                        if (json.isDelete) {
                            btn.closest("tr").remove();
                        }
                    })
            })
        })

</script>
</body>
</html>