<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 정보 수정</title>
</head>
<body>

<h1>회원 정보 수정</h1>

<form th:action="@{/admin/member-modify/{userID}(userID=${memberModify.userID})}" method="post">
    <input type="hidden" th:value="${memberModify.id}" name="id"/>

    <label>ID:</label>
    <input type="text" name="userID" th:value="${memberModify.userID}" readonly/><br/>

    <label>닉네임:</label>
    <input type="text" name="nickName" th:value="${memberModify.nickName}" required/><br/>

    <label>이메일:</label>
    <input type="email" name="userEmail" th:value="${memberModify.userEmail}" required/><br/>

    <label>우편번호:</label>
    <input type="text" name="zipcode" th:value="${memberModify.zipcode}" required/><br/>

    <label>주소1:</label>
    <input type="text" name="address01" th:value="${memberModify.address01}" required/><br/>

    <label>주소2:</label>
    <input type="text" name="address02" th:value="${memberModify.address02}" /><br/>

    <label>전화번호</label>
    <input type="text" name="tel" th:value="${memberModify.tel}" /><br/>

    <button type="submit">수정 완료</button>
    <a th:href="@{/admin/member-list}"><button type="button">취소</button></a>
</form>

</body>
</html>
