<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
</head>
<body>

<h1>ORDER LIST</h1>
<div class="container">
  <table border="1">
    <th:block th:each="order: ${orderLists}">
      <h1 th:text="${order.userID}">무궁화 님의 주문내역</h1>
      <tr>
        <td th:text="${orderStat.count}">num</td>
        <td th:text="${order.productName}" th:name="product">상품명</td>
        <td th:text="${order.orderNumber}" th:name="product">주문번호</td>
        <td th:text="${order.productPrice}" th:name="product">상품가격</td>
        <td th:text="${order.startDate}">시작 날짜</td>
        <td th:text="${order.endDate}">종료 날짜</td>
        <td th:text="${order.period}">주간/월간 구독 구분</td>
      </tr>
    </th:block>
  </table>
</div>
</body>
</html>