<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>stocklist.html</h1>
<ul th:each ="stockList, stockListStat :${stockList}">
    <li><span>품목코드</span><p th:text="${stockList.getProductId()}"></p></li>
    <li><span>품목명</span><p th:text="${stockList.getFlowerName()}"></p></li>
    <li><span>품목단위</span><p th:text="${stockList.getUnit()}"></p></li>
    <li><span>재고</span><p th:text="${stockList.getAmount()}"></p></li>
</ul>
</body>
</html>