<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>mypage/home</h1>
    <div th:text="${loggedMemberDto.userID}"></div>
    <div th:text="${loggedMemberDto.userName}"></div>
    <div th:text="${loggedMemberDto.userEmail}"></div>
    <div th:text="${loggedMemberDto.nickName}"></div>
    <div th:text="${loggedMemberDto.tel}"></div>
    <div th:text="${loggedMemberDto.address01}"></div>
    <div th:text="${loggedMemberDto.address02}"></div>
    <div th:text="${loggedMemberDto.zipcode}"></div>
</body>
</html>