<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>mypage/info</h1>

<form action="/mypage/modify" method="post">
    <input type="hidden" name="id" th:value="${loggedMemberDto.id}" />
    <input type="hidden" name="role" th:value="${loggedMemberDto.role}" />
    <input type="hidden" name="regDate" th:value="${loggedMemberDto.regDate}" />

    <input type="text" name="userID" th:value="${loggedMemberDto.userID}" />
    <input type="password" name="userPW" th:value="${loggedMemberDto.userPW}" />
    <input type="text" name="userName" th:value="${loggedMemberDto.userName}" />
    <input type="email" name="userEmail" th:value="${loggedMemberDto.userEmail}" />
    <input type="text" name="nickName" th:value="${loggedMemberDto.nickName}" />
    <input type="text" name="tel" th:value="${loggedMemberDto.tel}" />
    <input type="text" name="address01" th:value="${loggedMemberDto.address01}" />
    <input type="text" name="address02" th:value="${loggedMemberDto.address02}" />
    <input type="text" name="zipcode" th:value="${loggedMemberDto.zipcode}" />
    <button type="submit">수정하기</button>
</form>
<form id="deleteForm" action="/mypage/delete" method="post">
    <input type="hidden" name="id" th:value="${loggedMemberDto.id}" />
    <button type="button" onclick="confirmDelete()">계정 삭제</button>
</form>

<script>
    function confirmDelete() {
        if (confirm("정말로 계정을 삭제하시겠습니까?")) {
            document.getElementById('deleteForm').submit();
        } else {
            alert("삭제가 취소되었습니다.");
        }
    }
</script>

<script th:if="${message}" type="text/javascript">
    alert([[${message}]]);
</script>


</body>
</html>