<!DOCTYPE html>
<html lang="en">
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/mainPageHead :: commonHead(
  '로그인페이지',
  ${{'/css/login.css'}},
null
)"></head>
<body>
<header class="header" th:replace="~{fragments/mainPageHeader}"></header>
<div id="section">
    <h1>로그인</h1>
    <form action="/member/login" method="post">
        <input type="text" placeholder="아이디" id="user-id" name="userID"><br>
        <input type="password" placeholder="비밀번호" id="user-pw" name="userPW"><br>
        <button type="submit" class="login">로그인</button>
    </form>
    <ul class="find_mine">
        <li><a href="#"><span> 비회원 주문조회</span>　　|</a></li>
        <li><a href="#"><span>아이디 찾기</span>　　|</a></li>
        <li><a href="#"><span>비밀번호 찾기</span></a></li>
    </ul>

    <div class="join_wrap">
        <p><span>아직 회원이 아니신가요?</span><br><br><br>
            지금 회원가입 하시면 다양하고 특별한 혜택이 <br>
            준비되어 있습니다.</p>
        <button type="button" class="joinin" onclick="location.href='signup'">회원가입</button>
    </div>
    <div class="sns">
        <ul class="sns_txt">
            <li></li>
            <li>SNS 간편 로그인</li>
            <li></li>
        </ul>
        <ul class="sns_login">
            <li><a href="#"><img src="../images/login/naver_log.png" alt=""></a></li>
            <li><a href="#"><img src="../images/login/kakao_log.png" alt=""></a></li>
            <li><a href="#"><img src="../images/login/face_log.png" alt=""></a></li>
        </ul>
    </div>
</div>
<footer class="footer" th:replace="~{fragments/mainPageFooter}"></footer>
</body>
</html>