<!DOCTYPE html>
<html lang="en">
<body>
<div id="header">
  <div class="wrap_hd">
    <div class="wrap_logo">
      <h1 class="logo"><a href="#"><img src="/images/admin/logo.png" alt="logo"></a></h1>
      <span>ADMIN</span>
    </div>
    <ul class="gnb">
      <li onclick="openTab('home',this);">
        <a href="/admin/home">
          <span class="icon_area ico1"></span>
          홈화면
        </a>
      </li>
      <li onclick="openTab('member',this);">
        <a href="/admin/member">
          <span class="icon_area ico2"></span>
          회원관리
        </a>
      </li>
      <li onclick="openTab('stock',this);">
        <a href="#">
          <span class="icon_area ico3"></span>
          입출고 및 재고현황
        </a>
      </li>
      <li onclick="openTab('sales',this);">
        <a href="#">
          <span class="icon_area ico4"></span>
          매출관리
        </a>
      </li>
      <li onclick="openTab('order',this);">
        <a href="#">
          <span class="icon_area"></span>
          주문내역관리
        </a>
      </li>
      <li onclick="openTab('items',this);">
        <a href="#">
          <span class="icon_area"></span>
          상품관리
        </a>
      </li>
    </ul>
  </div>
</div>
</body>
</html>