<!DOCTYPE html>
<html lang="en">
<body>
<div id="header">
    <h1 class="h_logo"><a href="index.html"><img src="images/header/onsil_logo.png" alt="logo"></a></h1>
    <ul class="gnb">
        <li>
            <button type="button" class="login">
                <a href="login.html">로그인</a>
            </button>
        </li>
        <li>
            <a href="cart.html">
                <i class="fa-solid fa-bag-shopping"></i>
            </a>
        </li>
        <li>
            <a href="mypage.html">
                <i class="fa-solid fa-user"></i>
            </a>
        </li>
    </ul>
    <ul class="nav">
        <li><a href="subsc.html">꽃 정기구독</a></li>
        <li><a href="flowernote.html">꽃 노트</a></li>
        <li><a href="products.html">꽃 · 식물</a></li>
        <li><a href="#">클래스</a></li>
        <li><a href="corporate.html">기업제휴</a></li>
        <li><a href="onsilfaq.html">고객센터</a></li>
    </ul>
</div>

</body>
</html>