<!DOCTYPE html>
<html>
<body>
<div id="footer">
    <div class="f_cont">
        <h1 class="f_logo">
            <a href="/index/index">
                <img src="/images/footer/logo_white.png" alt="logo">
            </a>
        </h1>
        <ul class="f_info">
            <li>온실 플라워스튜디오</li>
            <li>대표: 김서진　|　주소: 서울특별시 강서구 내발산동 719번지 6호</li>
            <li>이메일: contact@flowerstudio.com　|　사업자 등록번호: 101-54-64295</li>
            <li>ⓒ2025 Copyright Onsil Corp. All Right Reserved.</li>
        </ul>
    </div>
</div>

</body>
</html>