<!DOCTYPE html>
<html lang="en">
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div id="header">
    <h1 class="h_logo"><img src="/images/header/onsil_logo.png" alt="logo"></h1>
    <ul class="gnb">
        <!-- 로그인 버튼: 로그인하지 않은 사용자에게만 보임 -->
        <li sec:authorize="!isAuthenticated()">
            <button type="button" class="login" th:onclick="|location.href='@{/member/login}'|">로그인</button>
        </li>

        <!-- 로그아웃 / 프로필: 로그인한 사용자에게만 보임 -->
        <li sec:authorize="isAuthenticated()">
            <span sec:authentication="name">사용자</span> 님
            <form th:action="@{/member/logout}" method="post">
                <button type="submit" class="login">로그아웃</button>
            </form>
        </li>

        <li><i class="fa-solid fa-bag-shopping"></i></li>
        <li><a th:href="@{/mypage/mypage}"><i class="fa-solid fa-user"></i></a></li>
    </ul>
    <ul class="nav">
        <li><a th:href="@{/subscribe/subscribe}">꽃 구독하기</a></li>
        <li><a href="#" th:href="@{/flowers}">꽃 노트</a></li>
            <li><a th:href="@{/product/list}">꽃</a></li>
        <li><a href="#" th:href="@{/subscribe/subscribe}">클래스</a></li>
        <li><a href="#" th:href="@{/corporate.html}">기업제휴</a></li>
        <li><a href="#" th:href="@{/onsilfaq.html}">고객센터</a></li>
    </ul>
</div>

</body>
</html>