@charset "UTF-8";
@font-face{
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

*{margin:0; padding:0;}
ul{list-style:none;}
a{text-decoration:none; color:black;}
img{border:0; vertical-align: top;}

body {
  font-family: 'Pretendard-Regular';
  background-color: #e5e0d8;
  color:#191919;
}

#section{
  width:100%;
}


#section .my_top{
  width:1500px;
  margin:0 auto;
  display: flex;
  margin-top:80px;
  justify-content: space-between;
}
#section .my_top .top_left{
  width:600px;
}
#section .my_top .top_left>p{
  font-size: 30px;
  padding-left:50px;
}
#section .my_top .top_left .left_txt{
  width:600px; height:150px;
  background-color: white;
  margin-top:40px;
  display: flex;
}
#section .my_top .top_left .left_txt>p{
  margin-top:54px;
  margin-left:40px;
  color:#a4a4a4;
  font-size: 18px;
}
#section .my_top .top_left .left_txt>a{
  margin-top:54px;
  margin-left:110px;
  color:#8b9773;
}

#section .my_top .top_right{
  width:800px;
  background-color: white;
  display: flex;
}
#section .my_top .top_right .grade,
#section .my_top .top_right .point{
  width:450px;
  margin-top:50px;
  padding-left:80px;
  box-sizing: border-box;
}
#section .my_top .top_right .grade .label,
#section .my_top .top_right .point .label{
  font-size: 22px;
  color:#a4a4a4;
  margin-bottom:50px;
}
#section .my_top .top_right .grade .value,
#section .my_top .top_right .point .value{
  font-size: 32px;
}
#section .my_top .top_right .point .value{
  position: relative;
}
#section .my_top .top_right .point .value:before{
  width:1px; height:60px;
  content:"";
  display: block;
  border-left:1px solid #a4a4a4;
  position: absolute;
  top:-10px; left:-82px;
}
#section .my_top .top_right .grade .value>a{
  font-size: 16px;
  color:#8b9773;
  margin-left:35px;
}


#section .my_list{
  width:100%;
  background-color: white;
  margin-top:80px;
  padding-bottom:250px;
  position: relative;
}
#section .my_list>h1{
  font-size: 38px;
  padding-top:100px;
  margin-left:200px;
}
#section .my_list>ul{
  margin-left:200px;
}
#section .my_list .list1{
  margin-top:60px;
}
#section .my_list .list2{
  margin-top:30px;
}
#section .my_list .list1 > li,
#section .my_list .list2 > li{
  cursor: pointer;
  color: #4B4A45;
}
#section .my_list .list1 .l_on,
#section .my_list .list2 .l_on{
  font-weight: 600;
  color: #191919;
}
#section .my_list>ul>li{
  width: 610px; height: 70px;
  font-size: 20px;
  line-height: 70px;
  border-bottom: 1px solid #a4a4a4;
  position: relative;
}
#section .my_list>ul>li>span{
  position: absolute;
  top:-2px; right:10px;
  color:#8b9773;
  font-weight: 500;
  cursor: pointer;
}


#section .my_list .content_wrap .content{
  width: 800px;
  padding-top:210px;
  position: absolute;
  top:0; left:900px;
  display: none;
}
#section .my_list .content_wrap .content:nth-child(1){
  display: block;
}
#section .my_list .content_wrap .content>h2{
  font-size: 25px;
  color: #4B4A45;
  /* margin-left:30px; */
}
#section .my_list .content_wrap .content>h2>span{
  font-size: 16px;
  font-weight: 400;
  color:#8b9773;
  margin-left:10px;
}
#section .my_list .content_wrap .content .delivery_status{
  width:100%; height: 150px;
  display: flex;
  background-color: #e5e0d8;
  margin-top:30px;
}
#section .my_list .content_wrap .content .delivery_status>li{
  width:225px;
  text-align: center;
  font-size: 18px;
  margin-top:35px;
  font-weight: 400;
  line-height: 40px;
  color:#888887;
}
#section .my_list .content_wrap .content .delivery_status>li>span{
  color:#8b9773;
  font-size: 30px;
  font-weight: 600;
}
#section .my_list .content_wrap .content .order{
  margin-top:37px;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  /* background-color: salmon; */
}


#section .my_list .content_wrap .content .order>h2{
  font-size: 25px;
  color: #4B4A45;
  margin-top: 10px;
  /* margin-left:30px; */
}
#section .my_list .content_wrap .content .order .subscript{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px; height: 50px;
  /* background-color: orange; */
}
#section .my_list .content_wrap .content .order .search_box{  /* background-color: #f0f0f0; */
  border:1px solid rgb(218, 218, 218);
  height: 33px;
  display: flex;
  justify-content: space-between;

}
#section .my_list .content_wrap .content .order .search_txt{
  height: 35px;
  padding: 10px;
  padding-left: 10px;
  box-sizing: border-box;
  background: none;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 15px;
}
#section .my_list .content_wrap .content .order .search_btn{
  color: #ededed;
  width: 40px; height: 30px;
  margin-top: 2px;
  border: 0px;
  background-color: #ffffff;
}




#section .my_list .content_wrap .content .order .subscript .list_box{
  display: flex;
  
}







#section .my_list .content_wrap .content .order .year_select{
  width:100px;
  height: 35px;
  /* margin-left:480px; */
  outline: none;
  border:1px solid rgb(218, 218, 218);
  font-size: 16px;
}
#section .my_list .content_wrap .content .order>p{
  margin-top:10px;
}
#section .my_list .content_wrap .content .order .btn_search{
  width:50px; height:35px;
  margin-left:10px;
  border:1px solid #8b9773;
  background-color: #8b9773;
  color:white;
  cursor: pointer;
  transition:all 0.3s;
}
#section .my_list .content_wrap .content .order .btn_search:hover{
  background-color: #616756;
}
#section .my_list .content_wrap .content .order_table{
  width: 100%;
  border-collapse: separate;
  border-spacing:0;
  border:1px solid rgb(218, 218, 218);
  border-radius: 20px;
  margin-top:20px;
  text-align: center;
  overflow: hidden;
}
#section .my_list .content_wrap .content .order_table>thead>tr{
  height:60px;
}
#section .my_list .content_wrap .content .order_table>thead>tr>th{
  border-bottom:1px solid rgb(218, 218, 218);
}
#section .my_list .content_wrap .content .order_table>tbody>tr{
  height: 60px;
}
#section .my_list .content_wrap .content .order_table>tbody>tr:nth-child(even){
  background-color: #f5f5ed;
}
#section .my_list .content_wrap .content .order_table>tbody tr td .mypageImg{
  height: 66px;
  aspect-ratio: 0.7 / 1;
  object-fit: cover;
  padding: 7px 0px;
}
#section .my_list .content_wrap .content .page_btn{
  margin-left: 310px;
  margin-top: 30px;
}
#section .my_list .content_wrap .content .page_btn tbody tr td a{
  margin: 0px 10px;
}



#section .my_list .content_wrap .content .request_detail{
  width: 800px;
  height: 50px;
  background-color: #e5e0d8;
  display: flex;
  border-radius: 50px;
  line-height: 50px;
  overflow: hidden;
  margin-top: 46px;
  margin-bottom: 30px;
}
#section .my_list .content_wrap .content .request_detail>li{
  padding:0 15px;
  font-size: 18px;
  cursor: pointer;
}
#section .my_list .content_wrap .content .request_detail .detail_on{
  background-color: #8b9773;
  color:white;
}
#section .my_list .content_wrap .content .order_table>tbody>tr .review-btn,
#section .my_list .content_wrap .content .order_table>tbody>tr .cancel_btn{
  width:70px; height: 35px;
  border:1px solid #8b9773;
  border-radius: 50px;
  background-color: #8b9773;
  color:white;
  transition: all 0.3s;
  cursor: pointer;
  margin-left: 4px;
}
#section .my_list .content_wrap .content .order_table>#subscribeRap>tr>td:last-child {
  width: 177px;
}
#section .my_list .content_wrap .content .order_table>tbody>tr .review-btn a{
  color: white;
  display: block;
}
/* #section .my_list .content_wrap .content .order_table>tbody>tr .cancel_btn:hover{
  background-color: #616756;
} */

#section .my_list .content_wrap .content .personal_info{
  width:70%;
  margin-top:30px;
  border-collapse: collapse;
}
#section .my_list .content_wrap .content .personal_info td{
  border-bottom:1px solid #d2d2d2;
  padding: 19.5px 0;
  box-sizing: border-box;
}
#section .my_list .content_wrap .content .personal_info td:first-child{
  width:25%;
  /* background-color: #d9d9d96c; */
  padding-left:20px;
  font-weight: 600;
}
#section .my_list .content_wrap .content .personal_info td>input{
  width:200px; height: 25px;
  border:1px solid #a4a4a450;
  outline:none;
}
#section .my_list .content_wrap .content .personal_info td>input[type="text"]{
  padding: 0 10px;
}
#section .my_list .content_wrap .content .personal_info td>input[type="text"]::placeholder{
  color: #191919;
}
#section .my_list .content_wrap .content .personal_info td .email_btn,
#section .my_list .content_wrap .content .personal_info td .ad_search{
  width:70px; height: 26px;
  margin-left:5px;
  border: none;
  background-color: #8b9773;
  color: white;
  cursor: pointer;
}
#section .my_list .content_wrap .content .personal_info td .ad_num{
  width:115px;
  color:#a4a4a4;
  padding-left:5px;
}
#section .my_list .content_wrap .content .personal_info td .address{
  width:420px;
  color:#a4a4a4;
  padding-left:5px;
  margin-top:5px;
}
#section .my_list .content_wrap .content .personal_info td .p_num_s{
  width:64px; height: 27px;
  outline: none;
  border:1px solid #a4a4a450;
}
#section .my_list .content_wrap .content .personal_info td .p_num{
  width:64px;
}
#section .my_list .content_wrap .cus_btn {
  /* display: flex;
  justify-content: left; */
}
#section .my_list .content_wrap .content .cus_edit{
  width:70%; 
  height: 45px;
  margin-top:20px;
  border:1px solid #8b9773;
  background-color: white;
  color: #8b9773;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}
#section .my_list .content_wrap .content .cus_edit:hover{
  border:1px solid #8b9773;
  background-color: #8b9773;
  color:white;
}
#section .my_list .content_wrap .content .cus_edit2{
  color: rgb(182, 182, 182);
  font-size: 12px;
  line-height: 2;
  font-weight: 500;
  cursor: pointer;
}

#section .my_list .content_wrap .content>p{
  margin-top:5px;
  /* margin-left:20px; */
  font-size: 17px;
  color:#a4a4a4;
}
#section .my_list .content_wrap .content .specialday{
  width:900px; height: 550px;
  margin-top:30px;
  background-color: #e5e0d8;
  padding-top:20px;
  box-sizing: border-box;
}
#section .my_list .content_wrap .content .specialday .s_day{
  width:860px; height: 410px;
  margin:0 auto;
  background-color: white;
  padding:30px 20px;
  box-sizing: border-box;
}
#section .my_list .content_wrap .content .specialday .s_day .s_title{
  font-size:18px;
  font-weight: 600;
}
#section .my_list .content_wrap .content .specialday .s_day .s_title>span{
  font-size: 16px;
  font-weight: 300;
  color:#919191;
}
#section .my_list .content_wrap .content .specialday .s_day>li:nth-child(2){
  height:30px;
  margin-top:35px;
  text-indent: 10px;
  border-bottom:1px solid #a4a4a4;
  color:#a4a4a4;
  position:relative;
}
#section .my_list .content_wrap .content .specialday .s_day>li:nth-child(2)>img{
  position: absolute;
  top:-4px; right:10px;
  cursor: pointer;
}
#section .my_list .content_wrap .content .specialday .sday_subtxt{
  margin-top:25px;
  margin-left:22px;
}
#section .my_list .content_wrap .content .specialday .sday_subtxt>p{
  font-size: 14px;
  margin-bottom:10px;
  font-weight: 300;
}

#section .my_list .content_wrap .content .userpoint{
  width: 900px; height: 200px;
  background-color: #e5e0d8;
  margin-top:30px;
  padding:20px 0;
  box-sizing: border-box;
}
#section .my_list .content_wrap .content .userpoint .userpoint_cont{
  width:860px; height:160px;
  background-color: #fff;
  margin:0 auto;
  text-align: center;
}
#section .my_list .content_wrap .content .userpoint .userpoint_cont>p{
  padding-top:50px;
  color: #a4a4a4;
}
#section .my_list .content_wrap .content .userpoint .userpoint_cont>h3{
  margin-top:10px;
  font-size: 30px;
  font-weight: 500;
}
#section .my_list .content_wrap .content .upoint_cont{
  font-size: 14px;
  font-weight: 300;
  text-align: right;
  margin-top:10px;
  margin-bottom:70px;
}
#section .my_list .content_wrap .content .po_coupon{
  width:900px; height:60px;
  margin-top:30px;
  background-color: #e5e0d8;
}
#section .my_list .content_wrap .content .po_coupon .coupon_code{
  width:500px; height:30px;
  border:none;
  margin-left:150px;
  margin-top:15px;
  outline: none;
}
#section .my_list .content_wrap .content .po_coupon .coupon_btn{
  width:70px; height:30px;
  margin-left:20px;
  border:#8b9773;
  background-color: #8b9773;
  color:white;
  cursor: pointer;
  transition: all 0.3s;
}
#section .my_list .content_wrap .content .po_coupon .coupon_btn:hover{
  background-color: #616756;
}
#section .my_list .content_wrap .content .coupon_txt{
  width:900px; height: 165px;
  background-color: #a4a4a450;
  margin-top:30px;
  padding-top:30px;
  padding-left:30px;
  box-sizing: border-box;
}
#section .my_list .content_wrap .content .coupon_txt>li{
  font-weight: 300;
  margin-bottom:5px;
  font-size: 15px;
}
#section .my_list .content_wrap .content .coupon_txt .coupon_ttxt{
  margin-bottom:15px;
}
#section .my_list .content_wrap .content .coupon_txt .coupon_ttxt>img{
  margin-top:-3px;
  margin-right:5px;
}

#section .my_list .content_wrap .content .c_service{
  margin-top:40px;
}
#section .my_list .content_wrap .content .c_service>p{
  margin-top:30px;
  font-size: 18px;
}
#section .my_list .content_wrap .content .c_service .c_service_txt{
  margin-top:10px;
  margin-left:10px;
}
#section .my_list .content_wrap .content .c_service .c_service_txt>li{
  font-size: 15px;
  color: #a4a4a4;
  font-weight: 300;
}
#section .my_list .content_wrap .content .c_service .c_service_btn{
  width:320px;
  height: 45px;
  margin-top:25px;
  background-color: #fff;
  border:1px solid #8b9773;
  color:#8b9773;
  transition: all 0.3s;
}
#section .my_list .content_wrap .content .c_service .c_service_btn:hover{
  background-color: #8b9773;
  color:white;
}
#section .my_list .content_wrap .content .c_service_cont{
  width:900px;
  margin-top:50px;
  border-top:1px solid #a4a4a450;
}
#section .my_list .content_wrap .content .c_service_cont>p{
  margin-top:50px;
}





#section .my_list .l_btn{
  width:610px;
  margin-left:200px;
  margin-top:60px;
  display: flex;
  justify-content: space-between;
}
#section .my_list .l_btn .l_btnn{
  width:295px; height:45px;
  background-color: white;
  border:1px solid #8b9773;
  cursor: pointer;
  transition:all 0.3s;
}
#section .my_list .l_btn .l_btnn>a{
  color:#8b9773;
}
#section .my_list .l_btn .l_btnn:hover{
  background-color: #8b9773;
}
#section .my_list .l_btn .l_btnn:hover>a{
  color:white;
}