@charset "utf-8";
*{margin: 0; padding:0;}
ul{list-style: none;}
a{color:#000; text-decoration: none;}
img{border:0; vertical-align: top;}
body{
    font-family: 'Pretendard';
    background-color: #E5E0D8;
}

#section{
    width: 100%;
    height: auto;
}
#section .sec1 .subsc_bn{
    width: 100%;
    height: 480px;
    background-image: url(../images/subsc/m_banner.png);
    background-size: cover;
    background-position: center;
    padding-top: 150px;
    box-sizing: border-box;

}
#section .sec1 .subsc_bn .bn1_txtwrap{
    text-align: center;
    width: 600px; margin: 0 auto;
    height: 150px;
    background-color: #8b9773ae;
    padding-top: 1%;
    color: white;
    box-sizing: border-box;
}
#section .sec1 .subsc_bn .bn1_txtwrap .bn_e{
    font-size: 60px;
    font-family: "League Script", cursive;
    font-style: normal;
}
#section .sec1 .subsc_bn .bn1_txtwrap .bn_k{
    font-size: 30px;
    margin-top: 10px;
    font-weight: 300;
}


/* -----------sec2------------------- */
#section .sub_title{
    margin-top: 150px;
    margin-bottom: 70px;
    text-align: center;
    color: #191919;
    font-size: 32px;
    font-weight: 500;
}
#section .sec2 .kits{
    width: 70%; margin: 0 auto;
    justify-content: space-between;
    display: flex;
    text-align: center;
    padding-bottom: 150px;
    border-bottom: 1px solid rgb(187, 187, 187);
}
#section .sec2 .kits li{
    flex-shrink: 0;
    margin-left: 20px;
}
#section .sec2 .kits .kitimg_wrap{
    width: 315px; height: 300px;    
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}
#section .sec2 .kits .kitimg_wrap img{
    width: 100%; height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}
#section .sec2 .kits img:hover{
    transform: scale(1.1);
}
#section .sec2 .kits .kit_sub{
    font-size: 20px;
    font-weight: 500;
    color: #191919;
}
/* -----------sec3 : line-up-------------------- */

#section .sec3 .line_up{
    width: 70%; margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}
#section .sec3 .line_up>li .sale_subs{
    width:400px; height: 30px;
    background-color: black;
    color: rgb(210, 231, 132);
    text-align: center;
    line-height: 30px;
    font-size: 15px;
}
.sale_img {
    width: 100%;
    height: 570px;
    transition: all 0.5s ease;
    position: relative;
}

#section .sec3 .line_up > li,
#section .sec3 .line_up > li>a{
    overflow: hidden;
    display: block;
}
#section .sec3 .line_up .sale_img1{
    width: 100%; height: 500px;
    background-image: url(../images/subsc/lineup01.png);
    background-size: cover;    background-position: center;
}
#section .sec3 .line_up .sale_img2{
    width: 100%; height: 500px;
    background-image: url(../images/subsc/lineup02.png);
    background-size: cover;    background-position: center;
}
#section .sec3 .line_up .sale_img3{
    width: 100%; height: 500px;
    background-image: url(../images/subsc/lineup03.png);
    background-size: cover;    background-position: center;
}
#section .sec3 .line_up .sale_img4{
    width: 100%; height: 500px;
    background-image: url(../images/subsc/lineup04.png);
    background-size: cover;    background-position: center;
}
#section .sec3 .line_up .sale_img5{
    width: 100%; height: 500px;
    background-image: url(../images/subsc/lineup05.png);
    background-size: cover;    background-position: center;
}
#section .sec3 .line_up .sale_img6{
    width: 100%; height: 500px;
    background-image: url(../images/subsc/lineup06.png);
    background-size: cover;     background-position: center;
}

#section .sec3 .line_up>li h2{
    margin: 20px 0;
    font-size: 1.5em;
    color: #191919;
}
#section .sec3 .line_up>li .cc_price{
    font-size: 14px;
}
#section .sec3 .line_up>li .fn_price{
    font-size: 1.3em;
    font-weight: 600;
    color: #8B9773;
}
#section .sec3 .line_up>li .fn_price span{
    color: red;
    font-size: 15px;
}
#section .sec3 .line_up:nth-of-type(2){
    margin-top: -80px;  
}

/* -----------sec4-------------------- */
#section .sec4{
    width: 100%; height: 600px;
    background-color: #8B9773;
    box-sizing: border-box;
    
}
#section .sec4 .desc4{
    width: 70%; margin: 0 auto;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
#section .sec4 .desc4 li:first-child{
    width: 65%;
}
#section .sec4 .desc4>li .desc_heading{
    font-weight: normal;
    color: #2B3E34;
}
#section .sec4 .desc4>li .pt2_4{
    margin-top: 50px;
    font-size: 1.5em;
    margin-bottom: 20px;
    line-height: 31px;
}
#section .sec4 .desc4>li .florist{
    margin-top: 50px;
    color: rgb(198, 206, 201);
    font-size: 17px;
}
#section .sec4 .desc4>li .florist span{
    font-weight: bold;
}
#section .sec4 .desc4 li:last-child{
    width: 30%;
    align-items: center;
}
#section .sec4 .desc4 li:last-child img{
    width: 100%;
    border-radius: 50px;
}

/* ----------------sec55555555555555-------------------- */
#section .sec5{
    width: 100%; height: auto;
    padding: 100px 0;
    margin-top: -100px;
}
#section .sec5 .howto{
    width: 31.5%; margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
#section .sec5 .howto>li:last-child{
    line-height: 35px;
}
#section .sec5 .howto>li:last-child h3{
    color: #8B9773;
}
#section .sec5 .howto>li:last-child p{
    font-size: 16px;
    color: #191919;
}
*.material-symbols-outlined{
    margin-top: 15px;
    margin-right: 20px;
    width: 40px; height: 40px;
    border-radius: 50%;
    text-align: center;
    padding-top: 8px;
    box-sizing: border-box;
    background-color: #8B9773;
    color: white;
    font-weight: 200;
}
#section .sec5 .howto>li:last-child{
    width: 90%;
    text-align: left;
    font-size: 1.3em;
}

/* ---반응형----------------------------------------------------------------------- */